<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сообщество</title>
</head>
<body>
    <p>Список вопросов?</p>
    <button class="new_user">Создать Пользователя</button>
    <script>

        document.querySelector('.new_user').addEventListener('click', () => {
            fetch('')
        })
    </script>
</body>
</html>